html,
body {
    color: #cccccc;
    background: #161821;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: #00a1ff;
    text-decoration: none;
}

a :hover {
    color: #b600f3;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

code {
    background-color: #08080a;
    color: #ffffff;
    padding: 0 5px;
    border-radius: 5px;
}